.body {
  font-family: Muli, serif;
  background-color: #f3f3f4;
  padding: 20px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

/*Card*/

.cards {
  display: flex;
  justify-content: space-between;
  color: #6c6a6c;
  margin-bottom: 30px;
}

.card {
  width: 380px;
  background-color: #fff;
  border-radius: 2%;
  border-top: 5px solid #e7eaec;
}

.card-name {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #f3f3f4;
}

.card-counted {
  padding: 20px;
}

.card-percent {
  display: flex;
}

.card-counted__number {
  font-size: 25px;
  padding-bottom: 15px;
}

.card-counted__info {
  display: flex;
  justify-content: space-between;
}

.percent_blue {
  color: #3093ce;
}

.blue {
  background-color: #3093ce;
}

.percent_red {
  color: #ed5565;
}

.red {
  background-color: #ed5565;
}

.percent_green {
  color: #1ab394;
}

.green {
  background-color: #1ab394;
}

.percent_ocean {
  color: #23c6c8;
}

.ocean {
  background-color: #23c6c8;
}

.title__button {
  width: 60px;
  height: 20px;
  color: #fff;
  border-radius: 5%;
  border: 0;
}


/*Orders*/

.orders {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #6c6a6c;
  border-top: 5px solid #e7eaec;
}

.orders-titels {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #f3f3f4;
}

.orders-main {
  display: flex;
  padding: 20px;
}

.orders-filters {
  width: 30%;
  padding-left: 20px;
}

.orders-filters__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter__info {
  margin-bottom: 15px;
}

.filters-number {
  font-size: 23px;
  margin-bottom: 10px;
}

.filter__info-text {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.filter__info-text-first::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: #1ab394;
  top: 23px;
  width: 50%;
  border-radius: 5%;
}

.filter__info-text-first::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: #e7eaec;
  top: 23px;
  width: 100%;
  border-radius: 5%;
}

.filter__info-text-second::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: #1ab394;
  top: 23px;
  width: 70%;
  border-radius: 5%;
}

.filter__info-text-second::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: #e7eaec;
  top: 23px;
  width: 100%;
  border-radius: 5%;
}

.filter__info-text-third::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: #1ab394;
  top: 23px;
  width: 30%;
  border-radius: 5%;
}

.filter__info-text-third::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: #e7eaec;
  top: 23px;
  width: 100%;
  border-radius: 5%;
}

.filter__percent {
  display: flex;
}

.filter {
  width: 60px;
  height: 25px;
  color: #929193;
  border: 1px solid #f3f6fb;
  background-color: #fff;
  border-radius: 5%;
}

.filter__today {
  box-shadow: inset 0 3px 5px #929193;
}

.orders-img {
  width: 1170px;
  height: 230px;
  background-image: url('./FIRST.png');
  background-repeat: no-repeat;
}

/*Messages*/
.projects {
  display: flex;
}

.messages {
  background-color: #fff;
  color: #6c6a6c;
  padding: 20px;
  border-top: 5px solid #e7eaec;
}

.messages-list {
  border-top: 3px solid #e7eaec;
}

.messages-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.new-messages {
  border-top: 3px solid #e7eaec;
  padding: 20px;
  background-color: #f3f6fb;
}

.new-message__icon {
  display: flex;
  margin-bottom: 15px;
}

.new-message__text {
  color: #929193;
  font-weight: 600;
}

.new-message {
  color: #929193;
  padding-left: 10px;
  font-size: 30px;
}

.massage-info {
  padding: 20px 0;
  border-bottom: 1px solid #f3f3f4;
}

.author {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.author-name {
  font-size: 20px;
  font-weight: 600;
}

.massage-text {
  padding-bottom: 10px;
  font-size: 20px;
  color: #91928e;
}

.author-data {
  color: #aca1ac;
}

.new-message__title {
  font-size: 25px;
}

/*User Project*/
.user-project-list {
  border-top: 5px solid #e7eaec;
  background-color: #fff;
  color: #6c6a6c;
  margin-right: 35px;
}

.project-tabs {
  padding: 35px;
}

.project-tabs__titles {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 470px;
  border-bottom: 1px solid #f3f3f4;
}

.project-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f3f3f4;
  padding: 15px 0;
  color: #989f9e;
}

.user-project-list__title {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #f3f3f4;
}

.project-info__text {
  display: flex;
}

.project-right__top {
  margin-bottom: 35px;
}

.canceled::after {
  content: "Canceled";
  padding-top: 7px;
  padding-left: 7px;
  color: #fff;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 8px;
  width: 75px;
  height: 25px;
  background-color: #f8ac59;
  border-radius: 5%;
}
.project-info__text-indent {
  margin-right: 35px;
}

.project-info__text-indent_name {
  margin-right: 15px;
}

.project-info__text-indent_damian {
  margin-right: 12px;
}

.completed::after {
  content: "Completed";
  padding-top: 7px;
  padding-left: 7px;
  color: #fff;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 8px;
  width: 90px;
  height: 25px;
  background-color: #1ab394;
  border-radius: 5%;
}

/*Small todos*/
.small-todo-list {
  color: #6c6a6c;
  border-top: 5px solid #e7eaec;
  background-color: #fff;
  width: 470px;
}

.small-todo-list-title {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #f3f3f4;
}

.todos {
  padding: 20px;
  color: #8d9091;
}

.todo {
  font-size: 20px;
  height: 45px;
  display: flex;
  border-radius: 5%;
  margin-bottom: 5px;
  background-color: #f3f3f4;
}

.todo-text {
  padding: 12px 0;
}

.todo-time {
  width: 70px;
  height: 12px;
  background-color: #1ab394;
  border-radius: 5%;
  padding: 12px 4px;
  margin-top: 5px;
  margin-left: 10px;
  color: #fff;
  display: flex;
}

.time-text {
  font-size: 15px;
}

.green-clock {
  width: 15px;
  height: 20px;
  padding-bottom: 5px;
}

.text-decoration {
  text-decoration: line-through;
}

.todo-check {
  padding: 13px 15px;
  width: 20px;
  height: 20px;
}

/*Transactions*/

.transactions {
  display: flex;
  flex-direction: column;
  color: #6c6a6c;
  border-top: 5px solid #e7eaec;
  background-color: #fff;
}

.transactions-img {
  margin: 20px;
  width: 490px;
  height: 280px;
  background-image: url('./screen1.png');
  background-repeat: no-repeat;
}

.transactions-bottom {
  display: flex;
}

.transactions-title {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #f3f3f4;
}

.transactions-tabs {
  padding: 35px;
}

.transactions-tabs__titles {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f3f3f4;
  padding-bottom: 20px;
  width: 490px;
}

.transactions-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f3f3f4;
  padding: 15px 0;
}

.transactions-text-decor {
  font-weight: 600;
}

.transactions-text_indent {
  margin-right: 20px;
}

.transactions-text_indent-second {
  margin-right: 70px;
  position: relative;
}

.transactions-info__text {
  display: flex;
}

.transactions-tabs__first {
  display: flex;
}

.transactions-tabs__second {
  display: flex;
}

.price {
  width: 60px;
  height: 25px;
  background-color: #1ab394;
  color: #fff;
  font-size: 13px;
  border-radius: 5%;
}

.price-text {
  margin-top: 6px;
  margin-left: 4px;
}

.price-text_orange {
  background-color: #f8ac59;
}

.project-right {
  display: flex;
  flex-direction: column;
}

.projects {
  margin-top: 35px;
}

.project-left {
  margin-right: 35px;
}

.project-right__top {
  display: flex;
}

@media (max-width: 1600px) {
  .projects {
    display: block;
  }

  .project-right__top {
    margin-top: 35px;
  }

  .card {
    margin-right: 10px;
  }
}

@media (max-width: 1000px) {
  .cards {
    display: block;
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 1100px) {

  .orders-img {
    width: 100%;
  }

  .orders-filters__info {
    padding-right: 20px;
  }

  .orders-filters {
    width: 100%;
  }

  .orders-main {
    display: block;
  }

  .project-right__top {
    display: block;
  }
}